/*CSS dos depoimentos*/
/*Criado por Luciene Lima*/

/*Div dos depoimentos englobando tudo*/
.depoimentos {
    /*display: grid;*/
    /*grid-template-columns: 2fr 3fr 2fr;*/
    margin-top: 1rem;
    gap: 2rem;
    /*margin-bottom: 5.62rem;*/
    margin-top: -30rem;
    /*margin-left: 1rem;*/

    background-color: var(--cor-bc-1);
    padding: 1.93rem;
    text-align: center;
    border-radius: 16px;
    margin-bottom: 2rem;

    width: 300px;
    height: 385px;
     
    /*display: grid;*/
    /*grid-template-columns: 2fr 3fr 2fr;*/
    
    
}

/*Título da seção: Depoimentos*/
.h1_depoimentos {
    margin-bottom: 1rem;
    margin-top: -1rem;
    font-size: 1.2rem;

}

/*Article com os depoimentos*/
.article_depoimento {
    display: flex;
    flex-direction: row;
    margin-top: -1rem;
    margin-bottom: 0rem;
    padding-top: 1.5rem;

    
        
}

/*Imagem de cada perfil do depoimento*/
.img_depoimento {
    /*max-width: 170px;*/
    max-width: 4rem; /*80px*/
    border-radius: 50%;
    border: solid 4px #fff;
    /*margin: 20px auto 10px auto;*/
    margin: 1.12rem auto 0.62rem auto;

    
}

/*Li pra img e span nome do perfil*/
.li_img_span_nome {
    display: block;
    flex-direction: block;
    margin-top: 1rem;

}

/*Nome de cada perfil que fez o depoimento*/
.nome_profile_depoimento {
    /*padding-top: 6rem;*/
    color: rgba(0, 0, 255, 0.801);
    cursor: pointer;
          

}

/*Depoimento de cada perfil*/
.depoimento_profile {
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: .9rem;
    text-align: left;

}

    /*RESPONSIVIDADE*/

@media (max-width:1060px){
    
    /*Div depoimentos*/
    .depoimentos{
        grid-template-columns: 1fr;
        margin-top: .9rem;
        padding: 24px;
        width: 800px;
        height: auto;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    /*Título da seção: Depoimentos*/
    .h1_depoimentos {
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 1.2rem;
        text-align: left;

    }

    /*Article com os depoimentos*/
    .article_depoimento {
        display: flex;
        flex-direction: row;
        margin-top: -1rem;
        margin-bottom: 0rem;
        padding-top: 1.8rem;
        
    }

    /*Imagem de cada perfil do depoimento*/
    .img_depoimento {
        /*max-width: 170px;*/
        max-width: 5rem; /*80px*/
        border-radius: 50%;
        border: solid 4px #fff;
        /*margin: 0 auto 27px auto;*/
        margin: 0 10rem 1rem auto;
        margin-left: 1rem;
    }

    /*Li pra img e span nome do perfil*/
    .li_img_span_nome {
        display: block;
        flex-direction: block;
        margin-top: 1rem;

    }

    
    /*Nome de cada perfil que fez o depoimento*/
    .nome_profile_depoimento {
        /*padding-top: 6rem;*/
        color: rgba(0, 0, 255, 0.801);
        cursor: pointer;
        margin-left: -10rem;

    
    }

    /*Depoimento de cada perfil*/
    .depoimento_profile {
        margin-left: -8rem;
        margin-top: 3rem;
        text-align: left;
        font-size: .9rem;
        text-align: left;


    }



       
    
}